html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
	background-color: rgb(81, 81, 81);
}

canvas {
	position: absolute;
	display: block;
	z-index: 3;
}

h2 {
	color: #111;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 15px;
	margin-bottom: 5%;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
}

.QualitySwitch {
	background-color: white;
	display: inline-block;
	position: absolute;
	margin: auto;
	width: 90px;
	height: 90px;
	bottom: 20px;
	right: 20px;
	border-radius: 25px;
	align-content: center;
}

.switch {
	position: absolute;
	margin: auto auto auto 0;
	width: 60px;
	left: 15px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
.startbutton { 
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 3vw;
	margin-bottom: 5%;
	font-weight: bold;
	letter-spacing: -1px;
	background-color: white;
	display: inline-block;
	position: absolute;
	margin: auto;
	width: 20%;
	height: 10%;
	bottom: 45%;
	right: 40%;
	border-radius: 25px;
	align-content: center;
	cursor: pointer;
}
#landingDiv {
	position: absolute;	
	background-color: #111111;
	width: 100%;
	height:100%;
        opacity:1;
	z-index: 5;
	transition: bottom 1s;
	bottom: 0;
}
